.header
{
    background-image: url(photos/shapka.png);
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.main-container-header
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    color: white;
    height: 100%;
    text-align: center;
    text-shadow: 4px 4px 4px black;
}

.main-container-header .main-famc
{
    font-size: 24px;
}